<!DOCTYPE html>
<html lang="en" ng-app="RegApp">
<head>
    <meta charset="UTF-8">
    <title>Angular Form - Server Side</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"">
</head>
<body ng-controller="RegCtrl as ctrl">
<div class="container">
<form name="regForm" novalidate ng-submit="ctrl.register()">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" class="form-control" ng-model="ctrl.username">
    </div>

    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" id="email" name="email" class="form-control" ng-model="ctrl.email">
    </div>

    <div class="form-group">
        <label id="gender" for="gender">Gender</label>
        <div class="radio">
            <label class="radio-inline">
                <input type="radio" name="gender" value="male" ng-model="ctrl.gender">Male
            </label>
            <label class="radio-inline">
                <input type="radio" name="gender" value="female" ng-model="ctrl.gender">Female
            </label>
        </div>
    </div>

    <div class="form-group">
        <button type="submit" class="btn-success form-control">Register</button>
    </div>
</form>

    <table>
        <thead>
            <tr>
                <td>First Name</td>
                <td>&nbsp</td>
                <td>Last Name</td>
                <td>&nbsp</td>
                <td>DOB</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="name in ctrl.names">
                <td>{{name.firstname}}</td>
                <td>&nbsp</td>
                <td>{{name.lastname}}</td>
                <td>&nbsp</td>
                <td>{{name.DOB | date:'medium'}}</td>
            </tr>
        </tbody>
    </table>
</div>
</body>
<script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="bower_components/angular/angular.js"></script>
<script type="text/javascript" src="js/index.js"></script>

</html>